html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100dvh;

  overflow-y: hidden;
  overflow-x: hidden;

  --light-text-color: #0E1111;
  --dark-text-color: whitesmoke;

  --light-background-color: #f7ede2;
  --dark-background-color: #037c97;

  --accent-color: #f0be08;

  background-color: var(--light-background-color);
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 1rem;
  text-align: center;
  border-bottom: 10px solid var(--accent-color);

  color: var(--dark-text-color);
  background-color: var(--dark-background-color);
}

header p {
  font-style: italic;
}

h2 {
  text-align: center;
}

main {
  display: flex;
  gap: 1rem;
  width: calc(99dvw);


}

section {
  height: 60dvh;
  width: 50%;
  overflow-y: hidden;
  padding-block: 1rem;

  text-align: center;
}

textarea,
pre {
  font-family: monospace;
  height: 20rem;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid black;
  padding: 1rem;
  width: 80%;
  margin: auto;

  background: whitesmoke;
  font-size: 1rem;
}

textarea {
  display: block;
  margin-top: 1rem;
}

pre {
  text-align: left !important;
  background: white;
  margin-top: 3.5rem;
}

#json_validity_id {
  display: block;
  padding: 1rem;
}
